.stages.wrapper 
    .section-title.history-title Наша история


    .stages__inner
        .stages__tabs.tabs
            .stages__tab.tab(data-tab='Этап 1') Этап 1

            .stages__tab.tab(data-tab='Этап 2') Этап 2

            .stages__tab.tab(data-tab='Этап 3') Этап 3

            .stages__tab.tab(data-tab='Этап 4') Этап 4

            .stages__tab.tab(data-tab='Этап 5') Этап 5

            .stages__tab.tab(data-tab='Этап 5') Этап 6



        .stages__list
            .stages__block.tab-block(data-tab='Этап 1')
                .stages__block-img
                    img(src="images/about/1.png", alt="")
                .stages__block-content
                    h2.stages__block-title.bigger Начало
                    .stages__block-text Зарождение идеи. Вдохновленные динамикой рынка недвижимости и потребностью в качественных строительных услугах, основатели начинают разрабатывать концепцию будущей компании.
                        

            .stages__block.tab-block(data-tab='Этап 2')
                .stages__block-img
                    img(src="images/projects/1.png", alt="")
                .stages__block-content
                    h2.stages__block-title.bigger Продолжение
                    .stages__block-text Зарождение идеи. Вдохновленные динамикой рынка недвижимости и потребностью в качественных строительных услугах, основатели начинают разрабатывать концепцию будущей компании.

            .stages__block.tab-block(data-tab='Этап 3')
                .stages__block-img
                    img(src="images/projects/2.png", alt="")
                .stages__block-content
                    h2.stages__block-title.bigger Еще
                    .stages__block-text Зарождение идеи. Вдохновленные динамикой рынка недвижимости и потребностью в качественных строительных услугах, основатели начинают разрабатывать концепцию будущей компании.


            .stages__block.tab-block(data-tab='Этап 4')
                .stages__block-img
                    img(src="images/projects/3.png", alt="")
                .stages__block-content
                    h2.stages__block-title.bigger Начало
                    .stages__block-text Зарождение идеи. Вдохновленные динамикой рынка недвижимости и потребностью в качественных строительных услугах, основатели начинают разрабатывать концепцию будущей компании.

            .stages__block.tab-block(data-tab='Этап 5')
                .stages__block-img
                    img(src="images/projects/4.png", alt="")
                .stages__block-content
                    h2.stages__block-title.bigger Начало
                    .stages__block-text Зарождение идеи. Вдохновленные динамикой рынка недвижимости и потребностью в качественных строительных услугах, основатели начинают разрабатывать концепцию будущей компании.

            .stages__block.tab-block(data-tab='Этап 6')
                .stages__block-img
                    img(src="images/projects/5.png", alt="")
                .stages__block-content
                    h2.stages__block-title.bigger Начало
                    .stages__block-text Зарождение идеи. Вдохновленные динамикой рынка недвижимости и потребностью в качественных строительных услугах, основатели начинают разрабатывать концепцию будущей компании.
