.team.team-about.wrapper

    .section-title__wrap.desktop--only
        .section-title__inner
            h2.section-title Наша команда





    .team__inner
        .team__slider.team__slider--sm.swiper
            .arr-l.team__arr
                svg(width="40" height="26")
                    use(xlink:href="images/sprite.svg#arr-l2")
            .arr-r.team__arr
                svg(width="40" height="26")
                    use(xlink:href="images/sprite.svg#arr-r2")
            .swiper-wrapper

                
                        
                .team__slide.swiper-slide
                    .team__img
                        img(src="images/team/1.jpg", alt="")
                    .team__info
                        .team__name Константинов Константин
                        .team__position Инженер-строитель

                .team__slide.swiper-slide
                    .team__img
                        img(src="images/team/2.jpg", alt="")
                    .team__info
                        .team__name Константинов Константин
                        .team__position Инженер-строитель

                .team__slide.swiper-slide
                    .team__img
                        img(src="images/team/3.jpg", alt="")
                    .team__info
                        .team__name Константинов Константин
                        .team__position Инженер-строитель

                .team__slide.swiper-slide
                    .team__img
                        img(src="images/team/4.jpg", alt="")
                    .team__info
                        .team__name Константинов Константин
                        .team__position Инженер-строитель

                .team__slide.swiper-slide
                    .team__img
                        img(src="images/team/1.jpg", alt="")
                    .team__info
                        .team__name Константинов Константин
                        .team__position Инженер-строитель
                        
                .team__slide.swiper-slide
                    .team__img
                        img(src="images/team/3.jpg", alt="")
                    .team__info
                        .team__name Константинов Константин
                        .team__position Инженер-строитель

                .team__slide.swiper-slide
                    .team__img
                        img(src="images/team/4.jpg", alt="")
                    .team__info
                        .team__name Константинов Константин
                        .team__position Инженер-строитель

                .team__slide.swiper-slide
                    .team__img
                        img(src="images/team/1.jpg", alt="")
                    .team__info
                        .team__name Константинов Константин
                        .team__position Инженер-строитель

