
.other-works-single
    margin-bottom: 150px

    +mw(800)
        margin-bottom: 60px


    h2
        font-size: 40px;
        font-weight: 600;
        line-height: 40px;
        padding-bottom: 40px

        +mw(800)
            font-size: 24px;
            font-weight: 600;
            line-height: 24px;
            padding-bottom: 15px




    .projects__section-inner::after,
    .projects__section-inner::before
        background: #ffffff