.other-works-single.wrapper
    h2 Похожие проекты
    .projects__section-inner.swiper
        .projects__arrs
            .projects__arr.arr-l
                svg(width="16" height="26")
                    use(xlink:href="images/sprite.svg#arr-l2")
            .projects__arr.arr-r
                svg(width="16" height="26")
                    use(xlink:href="images/sprite.svg#arr-r2")
        .swiper-wrapper

            .projects__item.swiper-slide
                .projects__img 
                    img(src="images/projects/1.png", alt="")

                .projects__info
                    .projects__name Каркасный-КС-06/2

                    .projects__bottom
                        .projects__square 161 м²
                        .projects__price-value от 2 898 000 ₽


            .projects__item.swiper-slide
                .projects__img 
                    img(src="images/projects/2.png", alt="")

                .projects__info
                    .projects__name Каркасный-КС-06/2

                    .projects__bottom
                        .projects__square 161 м²
                        .projects__price-value от 2 898 000 ₽

                .projects__labels
                    .projects__label 1 этаж
                    .projects__label 4 комнаты


            .projects__item.swiper-slide
                .projects__img 
                    img(src="images/projects/3.png", alt="")

                .projects__info
                    .projects__name Каркасный-КС-06/2

                    .projects__bottom
                        .projects__square 161 м²
                        .projects__price-value от 2 898 000 ₽
                
                .projects__labels
                    .projects__label 1 этаж
                    .projects__label 4 комнаты


            .projects__item.swiper-slide
                .projects__img 
                    img(src="images/projects/4.png", alt="")

                .projects__info
                    .projects__name Каркасный-КС-06/2

                    .projects__bottom
                        .projects__square 161 м²
                        .projects__price-value от 2 898 000 ₽

                .projects__labels
                    .projects__label 2 этажа
                    .projects__label 6 комнат


            .projects__item.swiper-slide
                .projects__img 
                    img(src="images/projects/5.png", alt="")

                .projects__info
                    .projects__name Каркасный-КС-06/2

                    .projects__bottom
                        .projects__square 161 м²
                        .projects__price-value от 2 898 000 ₽


                .projects__labels
                    .projects__label 2 этажа
                    .projects__label 6 комнат


            .projects__item.swiper-slide
                .projects__img 
                    img(src="images/projects/6.png", alt="")

                .projects__info
                    .projects__name Каркасный-КС-06/2

                    .projects__bottom
                        .projects__square 161 м²
                        .projects__price-value от 2 898 000 ₽

                .projects__labels
                    .projects__label 2 этажа
                    .projects__label 6 комнат


            .projects__item.swiper-slide
                .projects__img 
                    img(src="images/projects/1.png", alt="")

                .projects__info
                    .projects__name Каркасный-КС-06/2

                    .projects__bottom
                        .projects__square 161 м²
                        .projects__price-value от 2 898 000 ₽





        .slider__nav-wrap
            .slider__arr.arr-l
                svg(width="29" height="20")
                    use(xlink:href="images/sprite.svg#arr-l2")

            .slider__nav

            .slider__arr.arr-r
                svg(width="29" height="20")
                    use(xlink:href="images/sprite.svg#arr-r2")

        

        
    a.btn.btn__red.projects__calc(href="#") Рассчитать стоимость проекта



