//- mixin article(title)
//-   .article
//-     .article-wrapper
//-       h1= title
//-       if block
//-         block
//-       else
//-         p No content provided

//- mixin button(text, link, attr)
//-     a.arr-btn(href= link data-modal= attr)
//-       p= text
//-       svg(width="43px" height="43px")
//-           use(xlink:href="images/sprite.svg#arr-r")
//-       span.arr-btn-circle

//- mixin buttonModal(text, link, attr)
//-     span.arr-btn(href= link data-modal= attr)
//-       p= text
//-       svg(width="43px" height="43px")
//-           use(xlink:href="images/sprite.svg#arr-r")
//-       span.arr-btn-circle

//- mixin badge(text)
//-   span.badge= text

mixin more(text, link)
  a(href= link).more
    p= text
    svg(width="32" height="32")
        use(xlink:href="images/sprite.svg#arr-l")