.mob-menu
    .mob-menu__inner
        .search__header
            .search__form
                input.search__form-input(type="text", name="search", placeholder="Поиск")
                a(href="#").search__form-icon
                    svg(width="22" height="22")
                        use(xlink:href="images/sprite.svg#search-mob")

            .mob-menu__cities-wrap.toggle-wrap

                .cities__form-input-wrap.toggle-title
                
                    .cities__form-input Екатеринбург

                .mob-menu__cities.toggle-outer
                    .mob-menu__cities-inner.toggle-inner

                        a.cities__item(href="#") Тюмень
                        a.cities__item(href="#") Екатеринбург
                        a.cities__item(href="#") Санкт-Петербург
                        a.cities__item(href="#") Магнитогорск
                        a.cities__item(href="#") Москва
                        a.cities__item(href="#") Ханты-Мансийск


        .mob-menu__list
            .toggle-wrap

                .mob-menu__cat-wrap.toggle-title
                
                    .mob-menu__cat Проекты

                .mob-menu__submenu.toggle-outer
                    .mob-menu__submenu-inner.toggle-inner

                        a.mob-menu__item(href="#") Строительство коттеджей
                        a.mob-menu__item(href="#") Строительство фундаментов
                        a.mob-menu__item(href="#") Земельные учатки
                        a.mob-menu__item(href="#") Инженерные сети
                        a.mob-menu__item(href="#") Проектирование
                        a.mob-menu__item(href="#") Фасадные работы

            .toggle-wrap

                .mob-menu__cat-wrap.toggle-title
                
                    .mob-menu__cat Услуги

                .mob-menu__submenu.toggle-outer
                    .mob-menu__submenu-inner.toggle-inner

                        a.mob-menu__item(href="#") Строительство коттеджей
                        a.mob-menu__item(href="#") Строительство фундаментов
                        a.mob-menu__item(href="#") Земельные учатки
                        a.mob-menu__item(href="#") Инженерные сети
                        a.mob-menu__item(href="#") Проектирование
                        a.mob-menu__item(href="#") Фасадные работы

            .toggle-wrap

                .mob-menu__cat-wrap.toggle-title
                
                    .mob-menu__cat О компании

                .mob-menu__submenu.toggle-outer
                    .mob-menu__submenu-inner.toggle-inner

                        a.mob-menu__item(href="#") Строительство коттеджей
                        a.mob-menu__item(href="#") Строительство фундаментов
                        a.mob-menu__item(href="#") Земельные учатки
                        a.mob-menu__item(href="#") Инженерные сети
                        a.mob-menu__item(href="#") Проектирование
                        a.mob-menu__item(href="#") Фасадные работы

            .toggle-wrap

                .mob-menu__cat-wrap.toggle-title
                
                    .mob-menu__cat Как мы строим

                .mob-menu__submenu.toggle-outer
                    .mob-menu__submenu-inner.toggle-inner

                        a.mob-menu__item(href="#") Строительство коттеджей
                        a.mob-menu__item(href="#") Строительство фундаментов
                        a.mob-menu__item(href="#") Земельные учатки
                        a.mob-menu__item(href="#") Инженерные сети
                        a.mob-menu__item(href="#") Проектирование
                        a.mob-menu__item(href="#") Фасадные работы

            .toggle-wrap

                .mob-menu__cat-wrap.toggle-title
                
                    .mob-menu__cat Ипотека

                .mob-menu__submenu.toggle-outer
                    .mob-menu__submenu-inner.toggle-inner

                        a.mob-menu__item(href="#") Строительство коттеджей
                        a.mob-menu__item(href="#") Строительство фундаментов
                        a.mob-menu__item(href="#") Земельные учатки
                        a.mob-menu__item(href="#") Инженерные сети
                        a.mob-menu__item(href="#") Проектирование
                        a.mob-menu__item(href="#") Фасадные работы

            .toggle-wrap

                .mob-menu__cat-wrap.toggle-title
                
                    .mob-menu__cat Услуги

                .mob-menu__submenu.toggle-outer
                    .mob-menu__submenu-inner.toggle-inner

                        a.mob-menu__item(href="#") Строительство коттеджей
                        a.mob-menu__item(href="#") Строительство фундаментов
                        a.mob-menu__item(href="#") Земельные учатки
                        a.mob-menu__item(href="#") Инженерные сети
                        a.mob-menu__item(href="#") Проектирование
                        a.mob-menu__item(href="#") Фасадные работы

            .toggle-wrap

                .mob-menu__cat-wrap.toggle-title
                
                    .mob-menu__cat Акции

                .mob-menu__submenu.toggle-outer
                    .mob-menu__submenu-inner.toggle-inner

                        a.mob-menu__item(href="#") Строительство коттеджей
                        a.mob-menu__item(href="#") Строительство фундаментов
                        a.mob-menu__item(href="#") Земельные учатки
                        a.mob-menu__item(href="#") Инженерные сети
                        a.mob-menu__item(href="#") Проектирование
                        a.mob-menu__item(href="#") Фасадные работы


            .toggle-wrap

                .mob-menu__cat-wrap.toggle-title
                
                    .mob-menu__cat Земельные участки

                .mob-menu__submenu.toggle-outer
                    .mob-menu__submenu-inner.toggle-inner

                        a.mob-menu__item(href="#") Строительство коттеджей
                        a.mob-menu__item(href="#") Строительство фундаментов
                        a.mob-menu__item(href="#") Земельные учатки
                        a.mob-menu__item(href="#") Инженерные сети
                        a.mob-menu__item(href="#") Проектирование
                        a.mob-menu__item(href="#") Фасадные работы


            .toggle-wrap

                .mob-menu__cat-wrap.toggle-title
                
                    .mob-menu__cat Контакты

                .mob-menu__submenu.toggle-outer
                    .mob-menu__submenu-inner.toggle-inner

                        a.mob-menu__item(href="#") Строительство коттеджей
                        a.mob-menu__item(href="#") Строительство фундаментов
                        a.mob-menu__item(href="#") Земельные учатки
                        a.mob-menu__item(href="#") Инженерные сети
                        a.mob-menu__item(href="#") Проектирование
                        a.mob-menu__item(href="#") Фасадные работы





        .mob-menu__contacts
            .mob-menu__phones
                .mob-menu__phone
                    span Тюмень:
                    a(href="tel:8 (3452) 49-24-86") 8 (3452) 49-24-86
                .mob-menu__phone
                    span Екатеринбург:
                    a(href="tel:8 (3452) 49-24-86") 8 (3452) 49-24-86

            .mob-menu__soc
                a(href="#")
                    svg(width="32" height="32")
                        use(xlink:href="images/sprite.svg#mob-tg")
                a(href="#")
                    svg(width="32" height="32")
                        use(xlink:href="images/sprite.svg#mob-wa")
                a(href="#")
                    svg(width="32" height="32")
                        use(xlink:href="images/sprite.svg#mob-viber")

        .mob-menu__btn.btn.btn__red
            a(href="#") Заказать

    
