doctype html 
html(lang="ru-RU")
    include ../layout/head
    body
        .overlay
        .container.main-page
        
            include ../layout/header

            main
                include ../layout/main-screen.pug
                include ../layout/techs.pug
                include ../layout/projects.pug
                include ../layout/getcat.pug
                include ../layout/calc.pug
                include ../layout/real.pug
                include ../layout/services.pug
                include ../layout/slider-block.pug
                include ../layout/quote.pug
                include ../layout/quiz.pug
                include ../layout/stages.pug
                include ../layout/getcat2.pug
                include ../layout/reviews.pug
                include ../layout/getcat4.pug
                include ../layout/team.pug
                include ../layout/youtube.pug
                include ../layout/map.pug
                include ../layout/faq.pug
                include ../layout/footer.pug








    

        include ../components/mob-menu.pug
        include ../components/mob-menu-fixed

