doctype html 
html(lang="ru-RU")
    include ../layout/head
    body
        .overlay
        .container.works-page
        
            include ../layout/header

            main
                .breadcrumbs.wrapper
                    a.breadcrumbs__item(href="/") Строительство домов
                    a.breadcrumbs__item(href="/") Наши работы
                    .breadcrumbs__item.cur Дом каркасаный КС-06/2

                


                include ../layout/works/work-detail.pug

                include ../layout/works/plan.pug

                //- include ../layout/order-form.pug

                include ../layout/complects.pug

                include ../layout/calc.pug

                include ../layout/quiz.pug

                include ../layout/map.pug

                include ../layout/meet.pug

                include ../layout/projects/other-projects-single.pug

                include ../layout/footer.pug








    

        include ../components/mob-menu.pug
        include ../components/mob-menu-fixed

