doctype html 
html(lang="ru-RU")
    include ../layout/head
    body
        .overlay
        .container.works-page
        
            include ../layout/header

            main
                .breadcrumbs.wrapper
                    a.breadcrumbs__item(href="/") Главная
                    a.breadcrumbs__item(href="/") Строительство фундамнтов
                    .breadcrumbs__item.cur Монолитная плита

                


                include ../layout/techs/main-single.pug

                include ../layout/services/services-desc.pug

                include ../layout/quiz.pug

                include ../layout/stages.pug

                include ../layout/services/table.pug
                include ../layout/youtube-video.pug
                include ../layout/services/services-slider-block.pug
                include ../layout/faq.pug

                include ../layout/footer.pug








    

        include ../components/mob-menu.pug
        include ../components/mob-menu-fixed

