.main-screen

    .main-screen__inner.wrapper(style="background-image: url(images/services/2.png)")


        .main-screen__content
            .main-screen__left
                .main-screen__headers


                    h1 Cтроительство фундаментов

                    h2 профессиональное строительство с гарантией качества


                .main-screen__advs--mob
                    .main-screen__adv 
                        li.main-screen__adv-title Более 5&nbsp;000 проектов
                        li.main-screen__adv-subtitle строим дома более 10 лет
                    
                    .main-screen__adv 
                        li.main-screen__adv-title Гарантия 5 лет
                        li.main-screen__adv-subtitle на строительство вашего дома
                    
                    .main-screen__adv 
                        li.main-screen__adv-title Договор услуг
                        li.main-screen__adv-subtitle фиксируем стоимость работ

                .btns 
                    .btn.btn__red Рассчитать стоимость
                    .btn Получить консультацию


                

            .main-screen__right 
                .main-screen__advs
                    .main-screen__adv 
                        .main-screen__adv-title 6 видов технологий
                    
                    .main-screen__adv 
                        .main-screen__adv-title 6 видов технологий
                    
                    .main-screen__adv 
                        .main-screen__adv-title 6 видов технологий
