.desc.wrapper 

    .row
        .text

            h2 Заговолок

            p Плитный фундамент — это один из универсальных и надежных видов фундамента, который можно использовать под любое здание. Мало заглубленный плитный фундамент применяется при возведении домов из легких стройматериалов высотой не более 1.5 этажа и находится на поверхности почвы. Если здание выше 1.5 этажей и возводится из тяжелых стройматериалов, то необходимо укреплять плитный фундамент - сваями. Плитный фундамент глубокого заглубления – находится в глубине грунта на уровне не менее 1,8- 2,5 м. и используется  для получения цокольного этажа и подвального помещения. Важным качеством фундаментной плиты считается, то что одновременно это и фундамент и основание пола. Также можно заложить систему отопления (теплый пол) в тело плитного фундамента.


        img(src="images/slider-block/1.png", alt="")

    .row

        img(src="images/slider-block/2.png", alt="")

        .text

            h2 Заговолок

            p Плитный фундамент — это один из универсальных и надежных видов фундамента, который можно использовать под любое здание. Мало заглубленный плитный фундамент применяется при возведении домов из легких стройматериалов высотой не более 1.5 этажа и находится на поверхности почвы. Если здание выше 1.5 этажей и возводится из тяжелых стройматериалов, то необходимо укреплять плитный фундамент - сваями. Плитный фундамент глубокого заглубления – находится в глубине грунта на уровне не менее 1,8- 2,5 м. и используется  для получения цокольного этажа и подвального помещения. Важным качеством фундаментной плиты считается, то что одновременно это и фундамент и основание пола. Также можно заложить систему отопления (теплый пол) в тело плитного фундамента.


 


    .text

        h2 Заговолок

        p Плитный фундамент — это один из универсальных и надежных видов фундамента, который можно использовать под любое здание. Мало заглубленный плитный фундамент применяется при возведении домов из легких стройматериалов высотой не более 1.5 этажа и находится на поверхности почвы. Если здание выше 1.5 этажей и возводится из тяжелых стройматериалов, то необходимо укреплять плитный фундамент - сваями. Плитный фундамент глубокого заглубления – находится в глубине грунта на уровне не менее 1,8- 2,5 м. и используется  для получения цокольного этажа и подвального помещения. Важным качеством фундаментной плиты считается, то что одновременно это и фундамент и основание пола. Также можно заложить систему отопления (теплый пол) в тело плитного фундамента.



    .row
        .text

            h2 Заговолок

            p Плитный фундамент — это один из универсальных и надежных видов фундамента, который можно использовать под любое здание. Мало заглубленный плитный фундамент применяется при возведении домов из легких стройматериалов высотой не более 1.5 этажа и находится на поверхности почвы. Если здание выше 1.5 этажей и возводится из тяжелых стройматериалов, то необходимо укреплять плитный фундамент - сваями. Плитный фундамент глубокого заглубления – находится в глубине грунта на уровне не менее 1,8- 2,5 м. и используется  для получения цокольного этажа и подвального помещения. Важным качеством фундаментной плиты считается, то что одновременно это и фундамент и основание пола. Также можно заложить систему отопления (теплый пол) в тело плитного фундамента.


        img(src="images/slider-block/3.png", alt="")



