.services-techs.wrapper
    .section-title__wrap.desktop--only
        .section-title__inner
            h2.section-title Многообразие современных <span class="red">&nbsp; технологий</span>
                
            h2.section-title  <span class="spacer"></span><span class="red">строительства &nbsp;</span> для вашего идеального дома

        //- a.view-all(href="#") Смотреть все технологии

    .section-title__wrap.mobile--only
        .section-title__inner
            h2.section-title Многообразие современных <span class="red"> технологий </span> <span class="red"> строительства </span> для вашего идеального дома

        //- a.view-all(href="#") Смотреть все технологии


    .services-techs__inner.swiper
        .swiper-wrapper

            .services-techs__item.swiper-slide
                .services-techs__img 
                    img(src="images/services/techs/1.png", alt="")

                .services-techs__content
                    h3 Винтовые сваи

                    p(data-crop="150") Винтовые сваи используются для возведения фундамента на местности со сложным рельефом в любых климатических условиях. Свайно-винтовой фундамент – одно из бюджетных решений, если постройка размещается на склоне, на постоянно промерзлом грунте, в болотистой местности, в зоне регулярного подтопления грунтовыми водами.

                a.services-techs__link Подробнее


                    
            .services-techs__item.swiper-slide
                .services-techs__img 
                    img(src="images/services/techs/2.png", alt="")

                .services-techs__content
                    h3 Монолитная плита

                    p(data-crop="150") Монолитная фундаментная плита представляет собой литую основу из железобетона, которая укладывается на песочно-щебневую подушку. Это надежная, мощная и долговечная конструкция, однако она достаточно сложна в монтаже и требует применения высококачественного бетона, а также правильной обвязки арматурного каркаса.

                a.services-techs__link Подробнее


                    
            .services-techs__item.swiper-slide
                .services-techs__img 
                    img(src="images/services/techs/3.png", alt="")

                .services-techs__content
                    h3 Забивные сваи

                    p(data-crop="150") Этот вид оснований для строительства представляет собой готовые стержни, вылитые из железобетона или металла. Забивные сваи имеют круглое, квадратное или прямоугольное сечение и один заостренный конец. Такие сваи погружают в землю ударным методом.

                a.services-techs__link Подробнее


            .services-techs__item.swiper-slide
                .services-techs__img 
                    img(src="images/services/techs/4.png", alt="")

                .services-techs__content
                    h3 Ленточный фундамент

                    p(data-crop="100") Ленточный фундамент — это железобетонная полоса, идущая по периметру всего здания. Ленту закладывают под все внутренние и наружные стены застройки, сохраняя одинаковую форму поперечного сечения по всему периметру фундамента.

                a.services-techs__link Подробнее


        a.link__show-all.desktop--only(href="#") Показать ещё

                    



        .slider__nav-wrap.mobile--only
            .slider__arr.arr-l
                svg(width="8" height="14")
                    use(xlink:href="images/sprite.svg#arr-l2")

            .slider__nav

            .slider__arr.arr-r
                svg(width="8" height="14")
                    use(xlink:href="images/sprite.svg#arr-r2")




