.slider-block.wrapper.services-slider-block

    .slider-block-next.slider-block-arr
        svg(width="42" height="28")
            use(xlink:href="images/sprite.svg#arr-r2")
    .slider-block-prev.slider-block-arr
        svg(width="42" height="28")
            use(xlink:href="images/sprite.svg#arr-l2")

    .slider-block__slider.swiper 
        .swiper-wrapper 
            .slider-block__photo.swiper-slide
                img(src="images/services/slider/1.png", alt="")
            .slider-block__photo.swiper-slide
                img(src="images/services/slider/2.png", alt="")
            .slider-block__photo.swiper-slide
                img(src="images/services/slider/3.png", alt="")
            .slider-block__photo.swiper-slide
                img(src="images/services/slider/4.png", alt="")
            .slider-block__photo.swiper-slide
                img(src="images/services/slider/3.png", alt="")
            .slider-block__photo.swiper-slide
                img(src="images/services/slider/1.png", alt="")
            .slider-block__photo.swiper-slide
                img(src="images/services/slider/2.png", alt="")
            .slider-block__photo.swiper-slide
                img(src="images/services/slider/3.png", alt="")



        
        .slider__nav-wrap
            .slider__arr.arr-l
                svg(width="29" height="20")
                    use(xlink:href="images/sprite.svg#arr-l2")

            .slider__nav

            .slider__arr.arr-r
                svg(width="29" height="20")
                    use(xlink:href="images/sprite.svg#arr-r2")




   

