<div class="table wrapper">
<div class="section-title__wrap">
<h2 class="section-title"> Таблица с ценами </h2>
</div>

<table class="">
	<tbody>
		<tr>
			<td>Цена</td>
			<td>Цена</td>
			<td>Цена</td>
			<td>Цена</td>
			<td>Цена</td>
		</tr>
		<tr>
			<td>Цена</td>
			<td>Цена</td>
			<td>Цена</td>
			<td>Цена</td>
			<td>Цена</td>
		</tr>
		<tr>
			<td>Цена</td>
			<td>Цена</td>
			<td>Цена</td>
			<td>Цена</td>
			<td>Цена</td>
		</tr>
		<tr>
			<td>Цена</td>
			<td>Цена</td>
			<td>Цена</td>
			<td>Цена</td>
			<td>Цена</td>
		</tr>
		<tr>
			<td>Цена</td>
			<td>Цена</td>
			<td>Цена</td>
			<td>Цена</td>
			<td>Цена</td>
		</tr>
		<tr>
			<td>Цена</td>
			<td>Цена</td>
			<td>Цена</td>
			<td>Цена</td>
			<td>Цена</td>
		</tr>
		<tr>
			<td>Цена</td>
			<td>Цена</td>
			<td>Цена</td>
			<td>Цена</td>
			<td>Цена</td>
		</tr>
		<tr>
			<td>Цена</td>
			<td>Цена</td>
			<td>Цена</td>
			<td>Цена</td>
			<td>Цена</td>
		</tr>
	</tbody>
</table>
</div>