.adv.wrapper
    .adv__item
        .adv__title 10+ лет
        .adv__subtitle Опыт в строительстве
    .adv__item
        .adv__title 5 000+
        .adv__subtitle Проектов реализовано 
    .adv__item
        .adv__title 10+ лет
        .adv__subtitle Опыт в строительстве
    .adv__item
        .adv__title 5 000+
        .adv__subtitle Проектов реализовано 