.complects.wrapper

    h2 Подробно про комплектации

    .complects__list 
        .complects__tabs.tabs
            .complects__tab.tab(data-tab='Комплектация 1') Комплектация 1

            .complects__tab.tab(data-tab='Комплектация 2') Комплектация 2

            .complects__tab.tab(data-tab='Комплектация 3') Комплектация 3



        .complects__list
            .complects__block.tab-block(data-tab='Комплектация 1')
                .complects__block-content.
                    Комплектация 1<br><br>
                    1. Полы: Выберите из различных материалов для полов, включая деревянные, ламинатные, керамические плитки или ковровое покрытие.<br><br>
                    2. Окна и двери: Мы предлагаем широкий выбор оконных и дверных конструкций, включая пластиковые, деревянные или алюминиевые рамы, с различными вариантами отделки и стеклопакетами.<br><br>
                    3. Сантехника: Выберите сантехнику, которая соответствует вашим потребностям и стилю, включая раковины, унитазы, ванные и душевые кабины.<br><br>
                    4. Электрика: Мы предлагаем установку электропроводки, выключателей, розеток и осветительных приборов, чтобы обеспечить комфорт и безопасность в вашем доме.<br><br>
                    5. Отопление и кондиционирование: Выберите систему отопления и кондиционирования воздуха, которая обеспечит комфортную температуру в вашем доме в любое время года.<br><br>
                    6. Кухня и ванные комнаты: Мы предлагаем различные варианты кухонных гарнитуров, сантехники и отделки для ванных комнат, чтобы создать функциональные и стильные пространства.<br>

                .complects__spoiler Читать целиком

            .complects__block.tab-block(data-tab='Комплектация 2')
                .complects__block-content.
                    Комплектация 2<br><br>
                    1. Полы: Выберите из различных материалов для полов, включая деревянные, ламинатные, керамические плитки или ковровое покрытие.<br><br>
                    2. Окна и двери: Мы предлагаем широкий выбор оконных и дверных конструкций, включая пластиковые, деревянные или алюминиевые рамы, с различными вариантами отделки и стеклопакетами.<br><br>
                    3. Сантехника: Выберите сантехнику, которая соответствует вашим потребностям и стилю, включая раковины, унитазы, ванные и душевые кабины.<br><br>
                    4. Электрика: Мы предлагаем установку электропроводки, выключателей, розеток и осветительных приборов, чтобы обеспечить комфорт и безопасность в вашем доме.<br><br>
                    5. Отопление и кондиционирование: Выберите систему отопления и кондиционирования воздуха, которая обеспечит комфортную температуру в вашем доме в любое время года.<br><br>
                    6. Кухня и ванные комнаты: Мы предлагаем различные варианты кухонных гарнитуров, сантехники и отделки для ванных комнат, чтобы создать функциональные и стильные пространства.<br>

                .complects__spoiler Читать целиком


            .complects__block.tab-block(data-tab='Комплектация 3')
                .complects__block-content.
                    Комплектация 3<br><br>
                    1. Полы: Выберите из различных материалов для полов, включая деревянные, ламинатные, керамические плитки или ковровое покрытие.<br><br>
                    2. Окна и двери: Мы предлагаем широкий выбор оконных и дверных конструкций, включая пластиковые, деревянные или алюминиевые рамы, с различными вариантами отделки и стеклопакетами.<br><br>
                    3. Сантехника: Выберите сантехнику, которая соответствует вашим потребностям и стилю, включая раковины, унитазы, ванные и душевые кабины.<br><br>
                    4. Электрика: Мы предлагаем установку электропроводки, выключателей, розеток и осветительных приборов, чтобы обеспечить комфорт и безопасность в вашем доме.<br><br>
                    5. Отопление и кондиционирование: Выберите систему отопления и кондиционирования воздуха, которая обеспечит комфортную температуру в вашем доме в любое время года.<br><br>
                    6. Кухня и ванные комнаты: Мы предлагаем различные варианты кухонных гарнитуров, сантехники и отделки для ванных комнат, чтобы создать функциональные и стильные пространства.<br>

                .complects__spoiler Читать целиком