.faq.wrapper

    .section-title__wrap
        h2.section-title Часто задаваемые вопросы




    .faq__inner
        .faq__person
            .faq__person-photo
                .faq__img
                    img(src="images/faq/1.jpg", alt="")
                .faq__info
                    .faq__name Александр Александров
                    .faq__position Менеджер по продажам коттеджей
            .faq__btn.btn.btn__red Задать вопрос

        .faq__list 
            .faq__item
                .faq__title-wrap
                    .faq__title Какие категории домов у Вас есть?
                    .faq__arr
                        svg(width="27" height="17")
                            use(xlink:href="images/sprite.svg#arr-r2")
                .faq__content
                    .faq__content-inner
                        .faq__text Мы предлагаем полный спектр услуг, начиная от разработки проекта и получения разрешительной документации, и заканчивая строительством и отделкой дома. Мы предлагаем полный спектр услуг, начиная от разработки проекта и получения разрешительной документации, и заканчивая строительством и отделкой дома.

            .faq__item
                .faq__title-wrap
                    .faq__title Какие категории домов у Вас есть?
                    .faq__arr
                        svg(width="27" height="17")
                            use(xlink:href="images/sprite.svg#arr-r2")
                .faq__content
                    .faq__content-inner
                        .faq__text Мы предлагаем полный спектр услуг, начиная от разработки проекта и получения разрешительной документации, и заканчивая строительством и отделкой дома. Мы предлагаем полный спектр услуг, начиная от разработки проекта и получения разрешительной документации, и заканчивая строительством и отделкой дома.

            .faq__item
                .faq__title-wrap
                    .faq__title Какие категории домов у Вас есть?
                    .faq__arr
                        svg(width="27" height="17")
                            use(xlink:href="images/sprite.svg#arr-r2")
                .faq__content
                    .faq__content-inner
                        .faq__text Мы предлагаем полный спектр услуг, начиная от разработки проекта и получения разрешительной документации, и заканчивая строительством и отделкой дома. Мы предлагаем полный спектр услуг, начиная от разработки проекта и получения разрешительной документации, и заканчивая строительством и отделкой дома.

            .faq__item
                .faq__title-wrap
                    .faq__title Какие категории домов у Вас есть?
                    .faq__arr
                        svg(width="27" height="17")
                            use(xlink:href="images/sprite.svg#arr-r2")
                .faq__content
                    .faq__content-inner
                        .faq__text Мы предлагаем полный спектр услуг, начиная от разработки проекта и получения разрешительной документации, и заканчивая строительством и отделкой дома. Мы предлагаем полный спектр услуг, начиная от разработки проекта и получения разрешительной документации, и заканчивая строительством и отделкой дома.

            .faq__item
                .faq__title-wrap
                    .faq__title Какие категории домов у Вас есть?
                    .faq__arr
                        svg(width="27" height="17")
                            use(xlink:href="images/sprite.svg#arr-r2")
                .faq__content
                    .faq__content-inner
                        .faq__text Мы предлагаем полный спектр услуг, начиная от разработки проекта и получения разрешительной документации, и заканчивая строительством и отделкой дома. Мы предлагаем полный спектр услуг, начиная от разработки проекта и получения разрешительной документации, и заканчивая строительством и отделкой дома.

            .faq__item
                .faq__title-wrap
                    .faq__title Какие категории домов у Вас есть?
                    .faq__arr
                        svg(width="27" height="17")
                            use(xlink:href="images/sprite.svg#arr-r2")
                .faq__content
                    .faq__content-inner
                        .faq__text Мы предлагаем полный спектр услуг, начиная от разработки проекта и получения разрешительной документации, и заканчивая строительством и отделкой дома. Мы предлагаем полный спектр услуг, начиная от разработки проекта и получения разрешительной документации, и заканчивая строительством и отделкой дома.

