footer
    .footer.wrapper

        .footer__logo
            img(src="images/header/logo.png")

            .footer__soc--mob
                a(href="#")
                    svg(width="26" height="26")
                        use(xlink:href="images/sprite.svg#tg-r") 
                a(href="#")
                    svg(width="26" height="26")
                        use(xlink:href="images/sprite.svg#wa-r") 
                a(href="#")
                    svg(width="26" height="26")
                        use(xlink:href="images/sprite.svg#vi-r") 
                a(href="#")
                    svg(width="26" height="26")
                        use(xlink:href="images/sprite.svg#yt-r") 

        .footer__main
            .footer__links
                .footer__contacts
                    .footer__link-title.mobile--only КОНТАКТЫ
                    .footer__contact
                        .footer__contact-name Тюмень:
                        .footer__contact-value 8 (3452) 49-24-86 <br><br> пр. Воронинские горки, д. 101, корп. 4
                    .footer__contact
                        .footer__contact-name Екатеринбург:
                        .footer__contact-value 8 (000) 000-20-20 <br><br> ул. Ленина 9, 3 этаж, офис 4
                    .footer__contact
                        .footer__contact-name Часы работы:
                        .footer__contact-value пн.-пт.: 9:00 - 20:00
                    //- .footer__contact
                    //-     .footer__contact-name Юридич. адрес:
                    //-     .footer__contact-value 
                    //-         .footer__contact-address БЦ «Ямская Слобода» ул. Полевая, д.109 стр. 9, 2 этаж, офис 211, 212
                    //-         .footer__contact-soc
                    //-             a(href="#")
                    //-                 svg(width="22" height="22")
                    //-                     use(xlink:href="images/sprite.svg#tg") 
                    //-             a(href="#")
                    //-                 svg(width="22" height="22")
                    //-                     use(xlink:href="images/sprite.svg#wa") 
                    //-             a(href="#")
                    //-                 svg(width="22" height="22")
                    //-                     use(xlink:href="images/sprite.svg#viber") 
                    //-             a(href="#")
                    //-                 svg(width="22" height="22")
                    //-                     use(xlink:href="images/sprite.svg#yt") 

                            


            .footer__links.desktop--only.ft-link-list
                .footer__link-title КЛИЕНТАМ
                a.footer__link О нас
                a.footer__link Акции
                a.footer__link Ипотека
                a.footer__link Контакты

                .footer__links-more.hidden Развернуть



            .footer__links.desktop--only.ft-link-list
                .footer__link-title УСЛУГИ
                a.footer__link Строительство коттеджей
                a.footer__link Проектирование
                a.footer__link Инженерные сети
                a.footer__link Строительство фундаментов
                a.footer__link Фасадные работы

                .footer__links-more.hidden Развернуть



            .footer__links.desktop--only.ft-link-list
                a.footer__link-title ПРОЕКТЫ
                .footer__cols
                    .footer__col
                        a.footer__link Из газоблока
                        a.footer__link Из керамзитоблока
                        a.footer__link Из арболита
                        a.footer__link Обрезной и строганный брус
                        a.footer__link Профилированный брус
                        a.footer__link Лафет
                    .footer__col
                        a.footer__link Клееный брус
                        a.footer__link Оциллиндрованое бревно
                        a.footer__link Каркасный дом
                        a.footer__link Дом из сип-панелей
                        a.footer__link Купольные дома
                        a.footer__link Фахверковые дома

                .footer__links-more.hidden Развернуть




        .footer__bottom
            .footer__legal
                .footer__ip ООО “Клевер”
                a.footer__policy(href="#") Политика конфиденциальности

            .footer__footnote *Предложение не является публичной офертой. Стоимость является ориентировочной и приведена исключительно в информационных целях. Цена может меняться от географического расположения строящегося объекта и рыночных изменений цен на строительные материалы.
            



script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/ScrollToPlugin.min.js")
 
 
script(src="libs/swiper-bundle.min.js")
script(src="libs/nouislider.min.js")
script(src="libs/imask.js")
script(src="libs/fslightbox.js")
script(src="scripts/main.js")
