.getcat.wrapper

    .getcat__inner


        .getcat__text
            .getcat__title При заказе в апреле оборудование в подарок
            .getcat__subtitle Мы предоставляем вам возможность выбора бесплатного оборудование для вашего дома при заключении контракта в апреле-мае

        form.getcat__form
            label.input-wrap
                input.inp(type="text" name="name" data-required)
                span.inp-name Ваше имя
            label.input-wrap
                input.inp(type="text" name="name" data-required)
                span.inp-name Номер телефона

            .getcat__soc
                .getcat__btn.btn.tg
                    svg(width="42" height="28")
                        use(xlink:href="images/sprite.svg#tg-w")
                    span Telegram
            
                .getcat__btn.btn.wa
                    svg(width="42" height="28")
                        use(xlink:href="images/sprite.svg#wa-w")
                    span Whats’App
            
                .getcat__btn.btn.vi
                    svg(width="42" height="28")
                        use(xlink:href="images/sprite.svg#vi-w")

                    span Viber

            .getcat__submit.btn.btn__red(type="submit") Отправить данные
            .getcat__policy Нажимая кнопку «отправить», Вы подтверждаете согласие с политикой обработки персональных данных
        
