.getcat.wrapper

    .getcat__inner


        .getcat__text
            .getcat__title Получите каталог проектов
            .getcat__subtitle Оставьте адрес электронной почты или номер телефона, на который мы вышлем Вас полный каталог проектов

        form.getcat__form(id="getcat" data-send="true")
            label.input-wrap
                input.inp(type="text" name="name" data-required)
                span.inp-name Ваше имя
            label.input-wrap
                input.inp(type="text" name="name" data-required)
                span.inp-name Номер телефона <spaN class="red">*</span>

            .getcat__soc
                .getcat__btn.btn.tg
                    svg(width="22" height="22")
                        use(xlink:href="images/sprite.svg#tg-w")
                    span Telegram
            
                .getcat__btn.btn.wa
                    svg(width="22" height="22")
                        use(xlink:href="images/sprite.svg#wa-w")
                    span Whats’App
            
                .getcat__btn.btn.vi
                    svg(width="22" height="22")
                        use(xlink:href="images/sprite.svg#vi-w")

                    span Viber

            button.getcat__submit.btn.btn__red(type="submit") Получить каталог
            .getcat__policy Нажимая кнопку «отправить», Вы подтверждаете согласие с политикой обработки персональных данных
        
