header.header.wrapper

    a.header__logo(href="/")
        img(src="images/header/logo.png", alt="")



    .header__menu

        .header__links

            .header__link
                a.header__link-name Проекты
                svg(width="10" height="6")
                    use(xlink:href="images/sprite.svg#arr-down")
                .header__submenu 
                    .header__submenu-inner 
                        a.header__submenu-link(href="#") Строительство коттеджей
                        a.header__submenu-link(href="#") Строительство фундаментов
                        a.header__submenu-link(href="#") Земельные учатки 
                        a.header__submenu-link(href="#") Инженерные сети
                        a.header__submenu-link(href="#") Проектирование
                        a.header__submenu-link(href="#") Фасадные работы

            .header__link
                a.header__link-name Услуги
                svg(width="10" height="6")
                    use(xlink:href="images/sprite.svg#arr-down")
                .header__submenu 
                    .header__submenu-inner 
                        a.header__submenu-link(href="#") Строительство коттеджей
                        a.header__submenu-link(href="#") Строительство фундаментов
                        a.header__submenu-link(href="#") Земельные учатки 
                        a.header__submenu-link(href="#") Инженерные сети
                        a.header__submenu-link(href="#") Проектирование
                        a.header__submenu-link(href="#") Фасадные работы



            .header__link
                a.header__link-name О компании
                svg(width="10" height="6")
                    use(xlink:href="images/sprite.svg#arr-down")
                .header__submenu 
                    .header__submenu-inner 
                        a.header__submenu-link(href="#") Строительство коттеджей
                        a.header__submenu-link(href="#") Строительство фундаментов
                        a.header__submenu-link(href="#") Земельные учатки 
                        a.header__submenu-link(href="#") Инженерные сети
                        a.header__submenu-link(href="#") Проектирование
                        a.header__submenu-link(href="#") Фасадные работы


            .header__link
                a.header__link-name Как мы строим
                svg(width="10" height="6")
                    use(xlink:href="images/sprite.svg#arr-down")
                .header__submenu 
                    .header__submenu-inner 
                        a.header__submenu-link(href="#") Строительство коттеджей
                        a.header__submenu-link(href="#") Строительство фундаментов
                        a.header__submenu-link(href="#") Земельные учатки 
                        a.header__submenu-link(href="#") Инженерные сети
                        a.header__submenu-link(href="#") Проектирование
                        a.header__submenu-link(href="#") Фасадные работы


            .header__link
                a.header__link-name Ипотека
                svg(width="10" height="6")
                    use(xlink:href="images/sprite.svg#arr-down")
                .header__submenu 
                    .header__submenu-inner 
                        a.header__submenu-link(href="#") Строительство коттеджей
                        a.header__submenu-link(href="#") Строительство фундаментов
                        a.header__submenu-link(href="#") Земельные учатки 
                        a.header__submenu-link(href="#") Инженерные сети
                        a.header__submenu-link(href="#") Проектирование
                        a.header__submenu-link(href="#") Фасадные работы


            .header__link
                a.header__link-name Контакты

        .header__cities.cities
            .cities-input
                .cities__pin
                    svg(width="18" height="18")
                        use(xlink:href="images/sprite.svg#map-pin")
                .cities__choosen Тюмень
                .cities__arr
                    svg(width="10" height="7")
                        use(xlink:href="images/sprite.svg#tri")

            .cities__results 
                .cities__results-inner 
                    a.cities__city(href="#") Челябинск
                    a.cities__city(href="#") Екатеринбург
                    a.cities__city(href="#") Орел
                    a.cities__city(href="#") Санкт-Петербург
                    a.cities__city(href="#") Иркутск


        .header__search
            .header__search-icon 
                svg(width="22" height="22")
                    use(xlink:href="images/sprite.svg#search")

            .header__search-wrap

                input.header__search-input(type="text" placeholder="Поиск...")







    .header__contacts

        a.header__phone(href="8 (3452) 49-24-86") 8 (3452) 49-24-86

        .header__socs
            a.header__soc.incoming(href="#")
                svg(width="22" height="23")
                    use(xlink:href="images/sprite.svg#incoming")
            a.header__soc(href="#")
                svg(width="22" height="23")
                    use(xlink:href="images/sprite.svg#tg-r")
            a.header__soc(href="#")
                svg(width="22" height="23")
                    use(xlink:href="images/sprite.svg#wa-r")
            a.header__soc(href="#")
                svg(width="22" height="23")
                    use(xlink:href="images/sprite.svg#vi-r")
            //- a.header__soc(href="#")
            //-     svg(width="22" height="23")
            //-         use(xlink:href="images/sprite.svg#yt-r")


    .burger
        span
        span
        span





