head 

    <!--metatextblock-->
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="description" content="")
    meta(name="keywords" content="")
    meta(property="og:url" content="")
    meta(property="og:title" content="")
    meta(property="og:description" content="")
    meta(property="og:type" content="website")
    meta(property="og:image" content="")
    link(rel="canonical" href="")
    
    title Клевер
    <!--metatextblock-->

    <!--favicon block-->
    <!--/favicon block-->


    <!--assets block-->

    link(rel="stylesheet", href="libs/swiper-bundle.min.css")
    link(rel="stylesheet", href="libs/nouislider.min.css")
    link(rel="stylesheet", href="styles/app.css")
    <script src="https://api-maps.yandex.ru/v3/?apikey=660142c5-d428-48b4-a928-18718ab1e350&lang=ru_RU"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>

    <!--/assets block-->

    include ../components/mixins