.meet.wrapper 

    .meet__left

        .meet__title Видео-встреча с экспертом

        .meet__text Получите профессиональные рекомендации и ответы на ваши вопросы, не выходя из дома. Запишитесь на видеоконсультацию прямо сейчас!

        form.mob-form
            .input-wrap
                input.inp(type="text" name="phone" placeholder="Ваше имя " data-required="data-required")
            .input-wrap
                input.inp(type="text" name="phone" placeholder="Номер телефона" data-required="data-required")
            .meet__btn.btn.btn__red Записаться на видео-встречу
            .meet__policy Нажимая кнопку «отправить», Вы подтверждаете согласие с политикой обработки персональных данных


        .meet__btn.btn.btn__red.desk-btn Записаться на видео-встречу



    .meet__right

        .meet__expert
            img(src="images/plan/expert.jpg", alt="")

            .meet__expert-desc
                .meet__expert-name Александр Александров

                .meet__expert-position Менеджер по продажам коттеджей