.projects
    

    .projects__inner.wrapper

        .section-title__wrap.desktop--only
            .section-title__inner
                h2.section-title <span class="red">Ваш идеальный проект:</span>
                    
                h2.section-title  <span class="spacer"></span>реализуем дом вашей мечты!


        .section-title__wrap.mobile--only
            .section-title__inner
                h2.section-title <span class="red">Ваш идеальный проект: </span> реализуем дом вашей мечты! 


        .projects__tabs.tabs
            .projects__tab.tab(data-tab='Все') Все технологии
            .projects__tab.tab(data-tab='Каркасные') Каркасные
            .projects__tab.tab(data-tab='Брусовые') Брусовые
            .projects__tab.tab(data-tab='Каменные') Каменные


        .projects__list
            

            .projects__section.tab-block(data-tab='Все')
                .projects__section-inner.swiper
                    .projects__arrs
                        .projects__arr.arr-l
                            svg(width="16" height="26")
                                use(xlink:href="images/sprite.svg#arr-l2")
                        .projects__arr.arr-r
                            svg(width="16" height="26")
                                use(xlink:href="images/sprite.svg#arr-r2")
                    .swiper-wrapper

                        .projects__item.swiper-slide
                            .projects__img 
                                img(src="images/projects/1.png", alt="")

                            .projects__info
                                .projects__name Каркасный-КС-06/2

                                .projects__bottom
                                    .projects__square 161 м²
                                    .projects__price-value от 2 898 000 ₽


                        .projects__item.swiper-slide
                            .projects__img 
                                img(src="images/projects/2.png", alt="")

                            .projects__info
                                .projects__name Каркасный-КС-06/2

                                .projects__bottom
                                    .projects__square 161 м²
                                    .projects__price-value от 2 898 000 ₽

                            .projects__labels
                                .projects__label 1 этаж
                                .projects__label 4 комнаты


                        .projects__item.swiper-slide
                            .projects__img 
                                img(src="images/projects/3.png", alt="")

                            .projects__info
                                .projects__name Каркасный-КС-06/2

                                .projects__bottom
                                    .projects__square 161 м²
                                    .projects__price-value от 2 898 000 ₽
                            
                            .projects__labels
                                .projects__label 1 этаж
                                .projects__label 4 комнаты


                        .projects__item.swiper-slide
                            .projects__img 
                                img(src="images/projects/4.png", alt="")

                            .projects__info
                                .projects__name Каркасный-КС-06/2

                                .projects__bottom
                                    .projects__square 161 м²
                                    .projects__price-value от 2 898 000 ₽

                            .projects__labels
                                .projects__label 2 этажа
                                .projects__label 6 комнат


                        .projects__item.swiper-slide
                            .projects__img 
                                img(src="images/projects/5.png", alt="")

                            .projects__info
                                .projects__name Каркасный-КС-06/2

                                .projects__bottom
                                    .projects__square 161 м²
                                    .projects__price-value от 2 898 000 ₽


                            .projects__labels
                                .projects__label 2 этажа
                                .projects__label 6 комнат


                        .projects__item.swiper-slide
                            .projects__img 
                                img(src="images/projects/6.png", alt="")

                            .projects__info
                                .projects__name Каркасный-КС-06/2

                                .projects__bottom
                                    .projects__square 161 м²
                                    .projects__price-value от 2 898 000 ₽

                            .projects__labels
                                .projects__label 2 этажа
                                .projects__label 6 комнат


                        .projects__item.swiper-slide
                            .projects__img 
                                img(src="images/projects/1.png", alt="")

                            .projects__info
                                .projects__name Каркасный-КС-06/2

                                .projects__bottom
                                    .projects__square 161 м²
                                    .projects__price-value от 2 898 000 ₽





                    .slider__nav-wrap
                        .slider__arr.arr-l
                            svg(width="29" height="20")
                                use(xlink:href="images/sprite.svg#arr-l2")

                        .slider__nav

                        .slider__arr.arr-r
                            svg(width="29" height="20")
                                use(xlink:href="images/sprite.svg#arr-r2")

                   

                    




        
            .projects__section.tab-block(data-tab='Каркасные')
                .projects__section-inner.swiper 
                    .projects__arrs
                        .projects__arr.arr-l
                            svg(width="42" height="28")
                                use(xlink:href="images/sprite.svg#arr-le")
                        .projects__arr.arr-r
                            svg(width="42" height="28")
                                use(xlink:href="images/sprite.svg#arr-r")
                    .swiper-wrapper

                        .projects__item.swiper-slide
                            .projects__img 
                                img(src="images/projects/2.png", alt="")

                            .projects__info
                                .projects__name Каркасный-КС-06/2

                                .projects__bottom
                                    .projects__square 161 м²
                                    .projects__price-value от 2 898 000 ₽


                        .projects__item.swiper-slide
                            .projects__img 
                                img(src="images/projects/2.png", alt="")

                            .projects__info
                                .projects__name Каркасный-КС-06/2

                                .projects__bottom
                                    .projects__square 161 м²
                                    .projects__price-value от 2 898 000 ₽

                            .projects__labels
                                .projects__label 2 этажа
                                .projects__label 6 комнат


                        .projects__item.swiper-slide
                            .projects__img 
                                img(src="images/projects/2.png", alt="")

                            .projects__info
                                .projects__name Каркасный-КС-06/2

                                .projects__bottom
                                    .projects__square 161 м²
                                    .projects__price-value от 2 898 000 ₽

                            .projects__labels
                                .projects__label 1 этаж
                                .projects__label 4 комнаты


                        

                    .slider__nav-wrap
                        .slider__arr.arr-l
                            svg(width="29" height="20")
                                use(xlink:href="images/sprite.svg#arr-l2")

                        .slider__nav

                        .slider__arr.arr-r
                            svg(width="29" height="20")
                                use(xlink:href="images/sprite.svg#arr-r2")
        
            .projects__section.tab-block(data-tab='Брусовые')
                .projects__section-inner.swiper
                    .projects__arrs
                        .projects__arr.arr-l
                            svg(width="42" height="28")
                                use(xlink:href="images/sprite.svg#arr-l")
                        .projects__arr.arr-r
                            svg(width="42" height="28")
                                use(xlink:href="images/sprite.svg#arr-r")
                    .swiper-wrapper
                        .projects__item.swiper-slide
                            .projects__img 
                                img(src="images/projects/2.png", alt="")

                            .projects__info
                                .projects__name Каркасный-КС-06/2

                                .projects__bottom
                                    .projects__square 161 м²
                                    .projects__price-value от 2 898 000 ₽
                            
                            .projects__labels
                                .projects__label 1 этаж
                                .projects__label 4 комнаты



                        .projects__item.swiper-slide
                            .projects__img 
                                img(src="images/projects/2.png", alt="")

                            .projects__info
                                .projects__name Каркасный-КС-06/2

                                .projects__bottom
                                    .projects__square 161 м²
                                    .projects__price-value от 2 898 000 ₽


                        .projects__item.swiper-slide
                            .projects__img 
                                img(src="images/projects/2.png", alt="")

                            .projects__info
                                .projects__name Каркасный-КС-06/2

                                .projects__bottom
                                    .projects__square 161 м²
                                    .projects__price-value от 2 898 000 ₽


                            .projects__labels
                                .projects__label 1 этаж
                                .projects__label 4 комнаты



                        .projects__item.swiper-slide
                            .projects__img 
                                img(src="images/projects/2.png", alt="")

                            .projects__info
                                .projects__name Каркасный-КС-06/2

                                .projects__bottom
                                    .projects__square 161 м²
                                    .projects__price-value от 2 898 000 ₽


                        .projects__item.swiper-slide
                            .projects__img 
                                img(src="images/projects/2.png", alt="")

                            .projects__info
                                .projects__name Каркасный-КС-06/2

                                .projects__bottom
                                    .projects__square 161 м²
                                    .projects__price-value от 2 898 000 ₽

                            .projects__labels
                                .projects__label 1 этаж
                                .projects__label 4 комнаты



                        .projects__item.swiper-slide
                            .projects__img 
                                img(src="images/projects/2.png", alt="")

                            .projects__info
                                .projects__name Каркасный-КС-06/2

                                .projects__bottom
                                    .projects__square 161 м²
                                    .projects__price-value от 2 898 000 ₽


                        .projects__item.swiper-slide
                            .projects__img 
                                img(src="images/projects/2.png", alt="")

                            .projects__info
                                .projects__name Каркасный-КС-06/2

                                .projects__bottom
                                    .projects__square 161 м²
                                    .projects__price-value от 2 898 000 ₽



                    .slider__nav-wrap
                        .slider__arr.arr-l
                            svg(width="29" height="20")
                                use(xlink:href="images/sprite.svg#arr-l2")

                        .slider__nav

                        .slider__arr.arr-r
                            svg(width="29" height="20")
                                use(xlink:href="images/sprite.svg#arr-r2")

        
            .projects__section.tab-block(data-tab='Каменные')
                .projects__section-inner.swiper
                    .projects__arrs
                        .projects__arr.arr-l
                            svg(width="42" height="28")
                                use(xlink:href="images/sprite.svg#arr-l")
                        .projects__arr.arr-r
                            svg(width="42" height="28")
                                use(xlink:href="images/sprite.svg#arr-r")
                    .swiper-wrapper


                        .projects__item.swiper-slide
                            .projects__img 
                                img(src="images/projects/2.png", alt="")

                            .projects__info
                                .projects__name Каркасный-КС-06/2

                                .projects__bottom
                                    .projects__square 161 м²
                                    .projects__price-value от 2 898 000 ₽

                            .projects__labels
                                .projects__label 1 этаж
                                .projects__label 4 комнаты



                        .projects__item.swiper-slide
                            .projects__img 
                                img(src="images/projects/2.png", alt="")

                            .projects__info
                                .projects__name Каркасный-КС-06/2

                                .projects__bottom
                                    .projects__square 161 м²
                                    .projects__price-value от 2 898 000 ₽

                            .projects__labels
                                .projects__label 2 этажа
                                .projects__label 6 комнат


                    .slider__nav-wrap
                        .slider__arr.arr-l
                            svg(width="29" height="20")
                                use(xlink:href="images/sprite.svg#arr-l2")

                        .slider__nav

                        .slider__arr.arr-r
                            svg(width="29" height="20")
                                use(xlink:href="images/sprite.svg#arr-r2")


        a.btn.btn__red.projects__calc(href="#") Рассчитать стоимость проекта