.quote 
    .quote-top
        img(src="images/slider-block/quote/quote.png", alt="")
    .quote-text «Качество и надежность - наши основные принципы. Мы строим не просто здания, мы создаем дома, в которых люди будут чувствовать себя комфортно и безопасно»
    .quote-director
        .quote-avatar
            img(src="images/slider-block/quote/avatar.png", alt="")

        .quote-name Алексей Фамилия, <br> создатель компании «Клевер»