.real.wrapper.desktop--only

    .real__inner
        .real__titles
            .real__title.top Реализуйте мечту о новом
            .real__title.middle доме с выгодной
            .real__title.bottom семейной ипотекой
            .real__title-side Получите доступ к выгодным условиям ипотеки для строительства или покупки вашего собственного дома. 



        .real__chars
            .real__char
                .real__char-title Первоначальный взнос
                .real__char-value от 30%
            .real__char
                .real__char-title Срок кредита
                .real__char-value до 30 лет
            .real__char
                .real__char-title Мин. сумма кредита
                .real__char-value 500 000 ₽
            .real__char
                .real__char-title Макс. сумма кредита
                .real__char-value 40 000 000 ₽
            .real__char
                .real__char-title Банков-партнеров
                .real__char-value 10+



        .real__btn.btn.btn__red Получить консультацию


.getcat.wrapper.mobile--only

    .getcat__inner.getcat3

        .getcat__text
            .getcat__title Реализуйте мечту о новом доме с выгодной семейной ипотекой
            .getcat__subtitle Получите доступ к выгодным условиям ипотеки для строительства или покупки вашего собственного дома. 

        form.getcat__form
            label.input-wrap
                input.inp(type="text" name="name" data-required)
                span.inp-name Ваше имя <span class="red">*</span>
            label.input-wrap
                input.inp(type="text" name="name" data-required)
                span.inp-name Номер телефона <span class="red">* *</span>

            .getcat__soc
                .getcat__btn.btn.tg
                    svg(width="42" height="28")
                        use(xlink:href="images/sprite.svg#tg-w")
                    span Telegram
            
                .getcat__btn.btn.wa
                    svg(width="42" height="28")
                        use(xlink:href="images/sprite.svg#wa-w")
                    span Whats’App
            
                .getcat__btn.btn.vi
                    svg(width="42" height="28")
                        use(xlink:href="images/sprite.svg#vi-w")

                    span Viber

            .getcat__submit.btn.btn__red(type="submit") Отправить данные
            .getcat__policy Нажимая кнопку «отправить», Вы подтверждаете согласие с политикой обработки персональных данных
        


