.reviews.wrapper

    .section-title__wrap.desktop--only
        .section-title__inner
            h2.section-title За время наше работы мы получили большое 
                
            h2.section-title <span class="spacer"></span> количество хороших &nbsp;<span class="red"> отзывов от наших клиентов</span>

    .section-title__wrap.mobile--only
        .section-title__inner
            h2.section-title За время наше работы мы получили большое количество хороших &nbsp; <span class="red">отзывов от наших клиентов</span>





    .reviews__inner
        .reviews__slider.swiper
            .swiper-wrapper

                .reviews__slide.swiper-slide
                    .reviews__top
                        .reviews__ava
                            img(src="images/reviews/1.jpg", alt="")
                        .reviews__info
                            .reviews__name Александр Калашников
                            .reviews__date 10 марта
                            .reviews__stars
                                .reviews__star
                                    svg(width="25" height="25")
                                        use(xlink:href="images/sprite.svg#star")
                                .reviews__star
                                    svg(width="25" height="25")
                                        use(xlink:href="images/sprite.svg#star")
                                .reviews__star
                                    svg(width="25" height="25")
                                        use(xlink:href="images/sprite.svg#star")
                                .reviews__star
                                    svg(width="25" height="25")
                                        use(xlink:href="images/sprite.svg#star")
                                .reviews__star
                                    svg(width="25" height="25")
                                        use(xlink:href="images/sprite.svg#star")

                    .reviews__text Я хотел бы выразить свою искреннюю благодарность строительной компании за их профессионализм и качество работы. Мы решили построить свой дом, и выбор пал на эту компанию - и мы не пожалели.
                    a.reviews__link Отзыв на Яндекс.Картах

                    
                .reviews__slide.swiper-slide
                    .reviews__top
                        .reviews__ava
                            img(src="images/reviews/1.jpg", alt="")
                        .reviews__info
                            .reviews__name Александр Калашников
                            .reviews__date 10 марта
                            .reviews__stars
                                .reviews__star
                                    svg(width="25" height="25")
                                        use(xlink:href="images/sprite.svg#star")
                                .reviews__star
                                    svg(width="25" height="25")
                                        use(xlink:href="images/sprite.svg#star")
                                .reviews__star
                                    svg(width="25" height="25")
                                        use(xlink:href="images/sprite.svg#star")
                                .reviews__star
                                    svg(width="25" height="25")
                                        use(xlink:href="images/sprite.svg#star")
                                .reviews__star
                                    svg(width="25" height="25")
                                        use(xlink:href="images/sprite.svg#star")

                    .reviews__text Я хотел бы выразить свою искреннюю благодарность строительной компании за их профессионализм и качество работы. Мы решили построить свой дом, и выбор пал на эту компанию - и мы не пожалели.
                    a.reviews__link Отзыв на Яндекс.Картах

                .reviews__slide.swiper-slide
                    .reviews__top
                        .reviews__ava
                            img(src="images/reviews/1.jpg", alt="")
                        .reviews__info
                            .reviews__name Александр Калашников
                            .reviews__date 10 марта
                            .reviews__stars
                                .reviews__star
                                    svg(width="25" height="25")
                                        use(xlink:href="images/sprite.svg#star")
                                .reviews__star
                                    svg(width="25" height="25")
                                        use(xlink:href="images/sprite.svg#star")
                                .reviews__star
                                    svg(width="25" height="25")
                                        use(xlink:href="images/sprite.svg#star")
                                .reviews__star
                                    svg(width="25" height="25")
                                        use(xlink:href="images/sprite.svg#star")
                                .reviews__star
                                    svg(width="25" height="25")
                                        use(xlink:href="images/sprite.svg#star")

                    .reviews__text Я хотел бы выразить свою искреннюю благодарность строительной компании за их профессионализм и качество работы. Мы решили построить свой дом, и выбор пал на эту компанию - и мы не пожалели.
                    a.reviews__link Отзыв на Яндекс.Картах

                .reviews__slide.swiper-slide
                    .reviews__top
                        .reviews__ava
                            img(src="images/reviews/1.jpg", alt="")
                        .reviews__info
                            .reviews__name Александр Калашников
                            .reviews__date 10 марта
                            .reviews__stars
                                .reviews__star
                                    svg(width="25" height="25")
                                        use(xlink:href="images/sprite.svg#star")
                                .reviews__star
                                    svg(width="25" height="25")
                                        use(xlink:href="images/sprite.svg#star")
                                .reviews__star
                                    svg(width="25" height="25")
                                        use(xlink:href="images/sprite.svg#star")
                                .reviews__star
                                    svg(width="25" height="25")
                                        use(xlink:href="images/sprite.svg#star")
                                .reviews__star
                                    svg(width="25" height="25")
                                        use(xlink:href="images/sprite.svg#star")

                    .reviews__text Я хотел бы выразить свою искреннюю благодарность строительной компании за их профессионализм и качество работы. Мы решили построить свой дом, и выбор пал на эту компанию - и мы не пожалели.
                    a.reviews__link Отзыв на Яндекс.Картах

                .reviews__slide.swiper-slide
                    .reviews__top
                        .reviews__ava
                            img(src="images/reviews/1.jpg", alt="")
                        .reviews__info
                            .reviews__name Александр Калашников
                            .reviews__date 10 марта
                            .reviews__stars
                                .reviews__star
                                    svg(width="25" height="25")
                                        use(xlink:href="images/sprite.svg#star")
                                .reviews__star
                                    svg(width="25" height="25")
                                        use(xlink:href="images/sprite.svg#star")
                                .reviews__star
                                    svg(width="25" height="25")
                                        use(xlink:href="images/sprite.svg#star")
                                .reviews__star
                                    svg(width="25" height="25")
                                        use(xlink:href="images/sprite.svg#star")
                                .reviews__star
                                    svg(width="25" height="25")
                                        use(xlink:href="images/sprite.svg#star")

                    .reviews__text Я хотел бы выразить свою искреннюю благодарность строительной компании за их профессионализм и качество работы. Мы решили построить свой дом, и выбор пал на эту компанию - и мы не пожалели.
                    a.reviews__link Отзыв на Яндекс.Картах

                .reviews__slide.swiper-slide
                    .reviews__top
                        .reviews__ava
                            img(src="images/reviews/1.jpg", alt="")
                        .reviews__info
                            .reviews__name Александр Калашников
                            .reviews__date 10 марта
                            .reviews__stars
                                .reviews__star
                                    svg(width="25" height="25")
                                        use(xlink:href="images/sprite.svg#star")
                                .reviews__star
                                    svg(width="25" height="25")
                                        use(xlink:href="images/sprite.svg#star")
                                .reviews__star
                                    svg(width="25" height="25")
                                        use(xlink:href="images/sprite.svg#star")
                                .reviews__star
                                    svg(width="25" height="25")
                                        use(xlink:href="images/sprite.svg#star")
                                .reviews__star
                                    svg(width="25" height="25")
                                        use(xlink:href="images/sprite.svg#star")

                    .reviews__text Я хотел бы выразить свою искреннюю благодарность строительной компании за их профессионализм и качество работы. Мы решили построить свой дом, и выбор пал на эту компанию - и мы не пожалели.
                    a.reviews__link Отзыв на Яндекс.Картах

