.services.wrapper
    .section-title__wrap.desktop--only
        .section-title__inner
            h2.section-title <span class="red">Наши услуги:</span> &nbsp; все, что вам нужно для 

            h2.section-title  <span class="spacer"></span>строительства дома вашей мечты!

        a.view-all(href="#") Смотреть все услуги

    .section-title__wrap.mobile--only
        h2.section-title <span class="red">Наши услуги:</span> &nbsp; все, что вам нужно для строительства дома вашей мечты!

    .services__inner
        .services__item
            .services__title-wrap
                .services__title.desktop--only
                    span.services__title-num 01. 
                    span.services__title-name Строительство домов

                .services__title-mob.mobile--only
                    .services__title-mob-top
                        .services__title-mob-num 01. 
                    

                    .services__title-mob-bottom
                        .services__title-mob-name Строительство домов
                        .services__title-mob-price от 3 000 000 ₽

                .services__right
                    .services__price.desktop--only от 3 000 000 ₽
                    .services__arr
                        svg(width="27" height="17")
                            use(xlink:href="images/sprite.svg#arr-r2")


            .service__content
                .service__content-inner
                    .service__text
                        .service__text-main Мы предлагаем полный спектр услуг, начиная от разработки проекта и получения разрешительной документации, и заканчивая строительством и отделкой дома. Мы предлагаем полный спектр услуг, начиная от разработки проекта и получения разрешительной документации, и заканчивая строительством и отделкой дома.
                        .service__text-bottom Срок выполнения: 2 недели
                    

                    .service__img
                        img(src="images/services/1.png", alt="")




        .services__item
            .services__title-wrap
                .services__title.desktop--only
                    span.services__title-num 01. 
                    span.services__title-name Строительство домов

                .services__title-mob.mobile--only
                    .services__title-mob-top
                        .services__title-mob-num 01. 
                    

                    .services__title-mob-bottom
                        .services__title-mob-name Строительство домов
                        .services__title-mob-price от 3 000 000 ₽

                .services__right
                    .services__price.desktop--only от 3 000 000 ₽
                    .services__arr
                        svg(width="27" height="17")
                            use(xlink:href="images/sprite.svg#arr-r2")


            .service__content
                .service__content-inner
                    .service__text
                        .service__text-main Мы предлагаем полный спектр услуг, начиная от разработки проекта и получения разрешительной документации, и заканчивая строительством и отделкой дома. Мы предлагаем полный спектр услуг, начиная от разработки проекта и получения разрешительной документации, и заканчивая строительством и отделкой дома.
                        .service__text-bottom Срок выполнения: 2 недели
                    

                    .service__img
                        img(src="images/services/1.png", alt="")




        .services__item
            .services__title-wrap
                .services__title.desktop--only
                    span.services__title-num 01. 
                    span.services__title-name Строительство домов

                .services__title-mob.mobile--only
                    .services__title-mob-top
                        .services__title-mob-num 01. 
                    

                    .services__title-mob-bottom
                        .services__title-mob-name Строительство домов
                        .services__title-mob-price от 3 000 000 ₽

                .services__right
                    .services__price.desktop--only от 3 000 000 ₽
                    .services__arr
                        svg(width="27" height="17")
                            use(xlink:href="images/sprite.svg#arr-r2")


            .service__content
                .service__content-inner
                    .service__text
                        .service__text-main Мы предлагаем полный спектр услуг, начиная от разработки проекта и получения разрешительной документации, и заканчивая строительством и отделкой дома. Мы предлагаем полный спектр услуг, начиная от разработки проекта и получения разрешительной документации, и заканчивая строительством и отделкой дома.
                        .service__text-bottom Срок выполнения: 2 недели
                    

                    .service__img
                        img(src="images/services/1.png", alt="")




        .services__item
            .services__title-wrap
                .services__title.desktop--only
                    span.services__title-num 01. 
                    span.services__title-name Строительство домов

                .services__title-mob.mobile--only
                    .services__title-mob-top
                        .services__title-mob-num 01. 
                    

                    .services__title-mob-bottom
                        .services__title-mob-name Строительство домов
                        .services__title-mob-price от 3 000 000 ₽

                .services__right
                    .services__price.desktop--only от 3 000 000 ₽
                    .services__arr
                        svg(width="27" height="17")
                            use(xlink:href="images/sprite.svg#arr-r2")


            .service__content
                .service__content-inner
                    .service__text
                        .service__text-main Мы предлагаем полный спектр услуг, начиная от разработки проекта и получения разрешительной документации, и заканчивая строительством и отделкой дома. Мы предлагаем полный спектр услуг, начиная от разработки проекта и получения разрешительной документации, и заканчивая строительством и отделкой дома.
                        .service__text-bottom Срок выполнения: 2 недели
                    

                    .service__img
                        img(src="images/services/1.png", alt="")




        .services__item
            .services__title-wrap
                .services__title.desktop--only
                    span.services__title-num 01. 
                    span.services__title-name Строительство домов

                .services__title-mob.mobile--only
                    .services__title-mob-top
                        .services__title-mob-num 01. 
                    

                    .services__title-mob-bottom
                        .services__title-mob-name Строительство домов
                        .services__title-mob-price от 3 000 000 ₽

                .services__right
                    .services__price.desktop--only от 3 000 000 ₽
                    .services__arr
                        svg(width="27" height="17")
                            use(xlink:href="images/sprite.svg#arr-r2")


            .service__content
                .service__content-inner
                    .service__text
                        .service__text-main Мы предлагаем полный спектр услуг, начиная от разработки проекта и получения разрешительной документации, и заканчивая строительством и отделкой дома. Мы предлагаем полный спектр услуг, начиная от разработки проекта и получения разрешительной документации, и заканчивая строительством и отделкой дома.
                        .service__text-bottom Срок выполнения: 2 недели
                    

                    .service__img
                        img(src="images/services/1.png", alt="")

    a.services__view-all Смотреть все услуги


