.slider-block.wrapper

    .slider-block-next.slider-block-arr
        svg(width="42" height="28")
            use(xlink:href="images/sprite.svg#arr-r2")
    .slider-block-prev.slider-block-arr
        svg(width="42" height="28")
            use(xlink:href="images/sprite.svg#arr-l2")

    .slider-block__slider.swiper 
        .swiper-wrapper 
            .slider-block__photo.swiper-slide
                img(src="images/slider-block/1.png", alt="")
            .slider-block__photo.swiper-slide
                img(src="images/slider-block/2.png", alt="")
            .slider-block__photo.swiper-slide
                img(src="images/slider-block/3.png", alt="")
            .slider-block__photo.swiper-slide
                img(src="images/slider-block/4.png", alt="")
            .slider-block__photo.swiper-slide
                img(src="images/slider-block/5.png", alt="")
            .slider-block__photo.swiper-slide
                img(src="images/slider-block/3.png", alt="")
            .slider-block__photo.swiper-slide
                img(src="images/slider-block/4.png", alt="")
            .slider-block__photo.swiper-slide
                img(src="images/slider-block/5.png", alt="")



        
        .slider__nav-wrap
            .slider__arr.arr-l
                svg(width="29" height="20")
                    use(xlink:href="images/sprite.svg#arr-l2")

            .slider__nav

            .slider__arr.arr-r
                svg(width="29" height="20")
                    use(xlink:href="images/sprite.svg#arr-r2")



   

