.stages.wrapper 
    .section-title <span class="red">Этапы строительства: </span> &nbsp; надежность и качество на каждом шаге!


    .stages__inner
        .stages__tabs.tabs
            .stages__tab.tab(data-tab='Этап 1') Этап 1

            .stages__tab.tab(data-tab='Этап 2') Этап 2

            .stages__tab.tab(data-tab='Этап 3') Этап 3

            .stages__tab.tab(data-tab='Этап 4') Этап 4

            .stages__tab.tab(data-tab='Этап 5') Этап 5

            .stages__tab.tab(data-tab='Этап 5') Этап 6



        .stages__list
            .stages__block.tab-block(data-tab='Этап 1')
                .stages__block-img
                    img(src="images/stages/1.png", alt="")
                .stages__block-content
                    h2.stages__block-title Этап 1 Формируем коммерческое предложение на основе ваших пожеланий:
                    .stages__block-list
                        .stages__block-item
                            .stages__block-item-num 1
                            .stages__block-item-text Внимательно слушаем ваши пожелания, предпочтения и требования к проекту;
                        .stages__block-item
                            .stages__block-item-num 2
                            .stages__block-item-text Помогаем вам определиться с оптимальным вариантом проекта, учитывая ваши потребности и бюджет.
                        .stages__block-item
                            .stages__block-item-num 3
                            .stages__block-item-text Формируем коммерческое предложение (КП), которое включает в себя детальное описание работ, смету расходов и сроки выполнения проекта.
                        .stages__block-item
                            .stages__block-item-num 4
                            .stages__block-item-text Отвечаем на все ваши оставшиеся вопросы и предоставить необходимую консультацию.

            .stages__block.tab-block(data-tab='Этап 2')
                .stages__block-img
                    img(src="images/stages/1.png", alt="")
                .stages__block-content
                    h2.stages__block-title Этап 2 Формируем коммерческое предложение на основе ваших пожеланий:
                    .stages__block-list
                        .stages__block-item
                            .stages__block-item-num 1
                            .stages__block-item-text Внимательно слушаем ваши пожелания, предпочтения и требования к проекту;
                        .stages__block-item
                            .stages__block-item-num 2
                            .stages__block-item-text Помогаем вам определиться с оптимальным вариантом проекта, учитывая ваши потребности и бюджет.
                        .stages__block-item
                            .stages__block-item-num 3
                            .stages__block-item-text Формируем коммерческое предложение (КП), которое включает в себя детальное описание работ, смету расходов и сроки выполнения проекта.
                        .stages__block-item
                            .stages__block-item-num 4
                            .stages__block-item-text Отвечаем на все ваши оставшиеся вопросы и предоставить необходимую консультацию.

            .stages__block.tab-block(data-tab='Этап 3')
                .stages__block-img
                    img(src="images/stages/1.png", alt="")
                .stages__block-content
                    h2.stages__block-title Этап 3 Формируем коммерческое предложение на основе ваших пожеланий:
                    .stages__block-list
                        .stages__block-item
                            .stages__block-item-num 1
                            .stages__block-item-text Внимательно слушаем ваши пожелания, предпочтения и требования к проекту;
                        .stages__block-item
                            .stages__block-item-num 2
                            .stages__block-item-text Помогаем вам определиться с оптимальным вариантом проекта, учитывая ваши потребности и бюджет.
                        .stages__block-item
                            .stages__block-item-num 3
                            .stages__block-item-text Формируем коммерческое предложение (КП), которое включает в себя детальное описание работ, смету расходов и сроки выполнения проекта.
                        .stages__block-item
                            .stages__block-item-num 4
                            .stages__block-item-text Отвечаем на все ваши оставшиеся вопросы и предоставить необходимую консультацию.


            .stages__block.tab-block(data-tab='Этап 4')
                .stages__block-img
                    img(src="images/stages/1.png", alt="")
                .stages__block-content
                    h2.stages__block-title Этап 4 Формируем коммерческое предложение на основе ваших пожеланий:
                    .stages__block-list
                        .stages__block-item
                            .stages__block-item-num 1
                            .stages__block-item-text Внимательно слушаем ваши пожелания, предпочтения и требования к проекту;
                        .stages__block-item
                            .stages__block-item-num 2
                            .stages__block-item-text Помогаем вам определиться с оптимальным вариантом проекта, учитывая ваши потребности и бюджет.
                        .stages__block-item
                            .stages__block-item-num 3
                            .stages__block-item-text Формируем коммерческое предложение (КП), которое включает в себя детальное описание работ, смету расходов и сроки выполнения проекта.
                        .stages__block-item
                            .stages__block-item-num 4
                            .stages__block-item-text Отвечаем на все ваши оставшиеся вопросы и предоставить необходимую консультацию.

            .stages__block.tab-block(data-tab='Этап 5')
                .stages__block-img
                    img(src="images/stages/1.png", alt="")
                .stages__block-content
                    h2.stages__block-title Этап 5 Формируем коммерческое предложение на основе ваших пожеланий:
                    .stages__block-list
                        .stages__block-item
                            .stages__block-item-num 1
                            .stages__block-item-text Внимательно слушаем ваши пожелания, предпочтения и требования к проекту;
                        .stages__block-item
                            .stages__block-item-num 2
                            .stages__block-item-text Помогаем вам определиться с оптимальным вариантом проекта, учитывая ваши потребности и бюджет.
                        .stages__block-item
                            .stages__block-item-num 3
                            .stages__block-item-text Формируем коммерческое предложение (КП), которое включает в себя детальное описание работ, смету расходов и сроки выполнения проекта.
                        .stages__block-item
                            .stages__block-item-num 4
                            .stages__block-item-text Отвечаем на все ваши оставшиеся вопросы и предоставить необходимую консультацию.

            .stages__block.tab-block(data-tab='Этап 6')
                .stages__block-img
                    img(src="images/stages/1.png", alt="")
                .stages__block-content
                    h2.stages__block-title Этап 6 Формируем коммерческое предложение на основе ваших пожеланий:
                    .stages__block-list
                        .stages__block-item
                            .stages__block-item-num 1
                            .stages__block-item-text Внимательно слушаем ваши пожелания, предпочтения и требования к проекту;
                        .stages__block-item
                            .stages__block-item-num 2
                            .stages__block-item-text Помогаем вам определиться с оптимальным вариантом проекта, учитывая ваши потребности и бюджет.
                        .stages__block-item
                            .stages__block-item-num 3
                            .stages__block-item-text Формируем коммерческое предложение (КП), которое включает в себя детальное описание работ, смету расходов и сроки выполнения проекта.
                        .stages__block-item
                            .stages__block-item-num 4
                            .stages__block-item-text Отвечаем на все ваши оставшиеся вопросы и предоставить необходимую консультацию.
