.techs.wrapper
    .section-title__wrap.desktop--only
        .section-title__inner
            h2.section-title Многообразие современных <span class="red">&nbsp; технологий</span>
                
            h2.section-title  <span class="spacer"></span><span class="red">строительства &nbsp;</span> для вашего идеального дома

        //- a.view-all(href="#") Смотреть все технологии

    .section-title__wrap.mobile--only
        .section-title__inner
            h2.section-title Многообразие современных <span class="red"> технологий </span> <span class="red"> строительства </span> для вашего идеального дома

        //- a.view-all(href="#") Смотреть все технологии


    .techs__inner.swiper
        .swiper-wrapper

            .techs__item.swiper-slide
                span.techs__label 12 проектов

                a.techs__img(href="#")
                    img(src="images/techs/1.png", alt="")

                .techs__bottom
                    .techs__info-info
                        .techs__info-name Каркасные дома
                        .techs__info-price от 1 529 500 ₽

                    a.techs__info-more Смотреть проекты

                    
            .techs__item.swiper-slide
                a.techs__img(href="#")
                    img(src="images/techs/2.png", alt="")

                span.techs__label 12 проектов

                .techs__bottom
                    .techs__info-info
                        .techs__info-name Каркасные дома
                        .techs__info-price от 1 529 500 ₽

                    a.techs__info-more Смотреть проекты

            .techs__item.swiper-slide
                a.techs__img(href="#")
                    img(src="images/techs/3.png", alt="")

                span.techs__label 12 проектов

                .techs__bottom
                    .techs__info-info
                        .techs__info-name Каркасные дома
                        .techs__info-price от 1 529 500 ₽

                    a.techs__info-more Смотреть проекты

            .techs__item.swiper-slide
                a.techs__img(href="#")
                    img(src="images/techs/4.png", alt="")

                span.techs__label 12 проектов

                .techs__bottom
                    .techs__info-info
                        .techs__info-name Каркасные дома
                        .techs__info-price от 1 529 500 ₽

                    a.techs__info-more Смотреть проекты

            .techs__item.swiper-slide
                a.techs__img(href="#")
                    img(src="images/techs/5.png", alt="")

                span.techs__label 12 проектов

                .techs__bottom
                    .techs__info-info
                        .techs__info-name Каркасные дома
                        .techs__info-price от 1 529 500 ₽

                    a.techs__info-more Смотреть проекты

            .techs__item.swiper-slide
                a.techs__img(href="#")
                    img(src="images/techs/6.png", alt="")

                span.techs__label 12 проектов

                .techs__bottom
                    .techs__info-info
                        .techs__info-name Каркасные дома
                        .techs__info-price от 1 529 500 ₽

                    a.techs__info-more Смотреть проекты



        .slider__nav-wrap
            .slider__arr.arr-l
                svg(width="29" height="20")
                    use(xlink:href="images/sprite.svg#arr-l2")

            .slider__nav

            .slider__arr.arr-r
                svg(width="29" height="20")
                    use(xlink:href="images/sprite.svg#arr-r2")




