.youtube.wrapper

    .section-title__wrap
        .section-title__inner 
            h2.section-title Следите за нами на &nbsp; <span class="red-s">YouTube</span> 
            svg.yt-mob(width="27" height="20")
                use(xlink:href="images/sprite.svg#yt")
                


    
    .youtube__video-inner

        .youtube__video
            iframe(width="100%" height="100%" src="https://www.youtube.com/embed/3BwZ4ap4OXM" title="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="")



        .youtube__descr

            .youtube__titles
                .youtube__title ДОМ ИЗ КЕРАМЗИТОБЛОКА в 2023 ЛУЧШЕ ГАЗОБЕТОНА? Обзор керамзитного дома 2 этажа с террасой и гаражом
                .youtube__subtitle В ролике познакомим с нашим новым объектом — двухэтажным домом из керамзитоблока с террасой и гаражом. Покажем планировку, расскажем все технологии, которые применили в строительстве дома из керамзитоблока. Приятного просмотра!

            a.youtube__title-link(href="#")
                svg(width="30" height="30")
                    use(xlink:href="images/sprite.svg#yt")
                span Смотреть на Youtube

            a.youtube__link-mob(href="#")
                svg(width="30" height="30")
                    use(xlink:href="images/sprite.svg#yt")
                span Смотреть на Youtube