.other-works.wrapper

    h2.other-works-title Сморите также наши работы

    .other-works__wrap
        .other-works__list
            .other-works__item
                a.other-works__img(href="#")
                    img(src="images/works/4.png", alt="")

                .other-works__decs
                    .other-works__title Готовые дома
                    .other-works__text Готовые дома и счстливые заказчики - наша городсть


            .other-works__item
                a.other-works__img(href="#")
                    img(src="images/works/3.png", alt="")

                .other-works__decs
                    .other-works__title Строительство
                    .other-works__text Этапы строительства наших домов


            .other-works__item
                a.other-works__img(href="#")
                    img(src="images/works/2.png", alt="")

                .other-works__decs
                    .other-works__title Внутренняя отделка
                    .other-works__text Различные варианты отделки наших домов


            .other-works__item
                a.other-works__img(href="#")
                    img(src="images/works/1.png", alt="")

                .other-works__decs
                    .other-works__title Инженерные коммуникации
                    .other-works__text Водоснабжение, отопление, эликтрифкация, канализация





