.other-works-single.wrapper
    h2 Другие наши работы
    .other-works__slider.swiper
        .arr-l.other-works__arr
            svg(width="40" height="26")
                use(xlink:href="images/sprite.svg#arr-l2")
        .arr-r.other-works__arr
            svg(width="40" height="26")
                use(xlink:href="images/sprite.svg#arr-r2")
        .swiper-wrapper
            .works-list__item.swiper-slide
                a.works-list__img 
                    img(src="images/projects/1.png", alt="")

                .works-list__info
                    a.works-list__name Каркасный-КС-06/2
                    .works-list__square 161 м²

                .works-list__labels
                    .works-list__label 2 этажа
                    .works-list__label 6 комнат




            .works-list__item.swiper-slide
                a.works-list__img 
                    img(src="images/projects/2.png", alt="")

                .works-list__info
                    a.works-list__name Каркасный-КС-06/2

                    .works-list__square 161 м²

                .works-list__labels
                    .works-list__label 1 этаж
                    .works-list__label 6 комнат


            .works-list__item.swiper-slide
                a.works-list__img 
                    img(src="images/projects/3.png", alt="")

                .works-list__info
                    a.works-list__name Каркасный-КС-06/2

                    .works-list__square 161 м²

                .works-list__labels
                    .works-list__label 2 этажа
                    .works-list__label 5 комнат


            .works-list__item.swiper-slide
                a.works-list__img 
                    img(src="images/projects/4.png", alt="")

                .works-list__info
                    a.works-list__name Каркасный-КС-06/2

                    .works-list__square 161 м²

                .works-list__labels
                    .works-list__label 2 этажа
                    .works-list__label 7 комнат


            .works-list__item.swiper-slide
                a.works-list__img 
                    img(src="images/projects/5.png", alt="")

                .works-list__info
                    a.works-list__name Каркасный-КС-06/2

                    .works-list__square 161 м²

                .works-list__labels
                    .works-list__label 2 этажа
                    .works-list__label 6 комнат


            .works-list__item.swiper-slide
                a.works-list__img 
                    img(src="images/projects/6.png", alt="")

                .works-list__info
                    a.works-list__name Каркасный-КС-06/2

                    .works-list__square 161 м²

                .works-list__labels
                    .works-list__label 2 этажа
                    .works-list__label 6 комнат


            .works-list__item.swiper-slide
                a.works-list__img 
                    img(src="images/projects/5.png", alt="")

                .works-list__info
                    a.works-list__name Каркасный-КС-06/2

                    .works-list__square 161 м²

                .works-list__labels
                    .works-list__label 2 этажа
                    .works-list__label 6 комнат


            .works-list__item.swiper-slide
                a.works-list__img 
                    img(src="images/projects/2.png", alt="")

                .works-list__info
                    a.works-list__name Каркасный-КС-06/2

                    .works-list__square 161 м²

                .works-list__labels
                    .works-list__label 1 этаж
                    .works-list__label 6 комнат


            .works-list__item.swiper-slide
                a.works-list__img 
                    img(src="images/projects/3.png", alt="")

                .works-list__info
                    a.works-list__name Каркасный-КС-06/2

                    .works-list__square 161 м²

                .works-list__labels
                    .works-list__label 2 этажа
                    .works-list__label 5 комнат



        .slider__nav-wrap
            .slider__arr.arr-l
                svg(width="29" height="20")
                    use(xlink:href="images/sprite.svg#arr-l2")

            .slider__nav

            .slider__arr.arr-r
                svg(width="29" height="20")
                    use(xlink:href="images/sprite.svg#arr-r2")