.plan.wrapper

    h2 Планировка

    .plan__imgs

        a.plan__img(data-fslightbox="gallery" href="images/plan/1.png")

            img(src="images/plan/1.png", alt="")

            svg(width="40" height="40")
                use(xlink:href="images/sprite.svg#zoom-in")

        a.plan__img(data-fslightbox="gallery" href="images/projects/1.png")

            img(src="images/projects/1.png", alt="")

            svg(width="40" height="40")
                use(xlink:href="images/sprite.svg#zoom-in")