.works.wrapper

    h1 Ознакомтесь с нашими работами

    .works-list-wrap
        .works-list
            .works-list__item(href="")
                a.works-list__img 
                    img(src="images/projects/1.png", alt="")

                .works-list__info
                    a.works-list__name Каркасный-КС-06/2
                    .works-list__square 161 м²

                .works-list__labels
                    .works-list__label 2 этажа
                    .works-list__label 6 комнат




            .works-list__item
                a.works-list__img 
                    img(src="images/projects/2.png", alt="")

                .works-list__info
                    a.works-list__name Каркасный-КС-06/2

                    .works-list__square 161 м²

                .works-list__labels
                    .works-list__label 1 этаж
                    .works-list__label 6 комнат


            .works-list__item
                a.works-list__img 
                    img(src="images/projects/3.png", alt="")

                .works-list__info
                    a.works-list__name Каркасный-КС-06/2

                    .works-list__square 161 м²

                .works-list__labels
                    .works-list__label 2 этажа
                    .works-list__label 5 комнат


            .works-list__item
                a.works-list__img 
                    img(src="images/projects/4.png", alt="")

                .works-list__info
                    a.works-list__name Каркасный-КС-06/2

                    .works-list__square 161 м²

                .works-list__labels
                    .works-list__label 2 этажа
                    .works-list__label 7 комнат


            .works-list__item
                a.works-list__img 
                    img(src="images/projects/5.png", alt="")

                .works-list__info
                    a.works-list__name Каркасный-КС-06/2

                    .works-list__square 161 м²

                .works-list__labels
                    .works-list__label 2 этажа
                    .works-list__label 6 комнат


            .works-list__item
                a.works-list__img 
                    img(src="images/projects/6.png", alt="")

                .works-list__info
                    a.works-list__name Каркасный-КС-06/2

                    .works-list__square 161 м²

                .works-list__labels
                    .works-list__label 2 этажа
                    .works-list__label 6 комнат


            .works-list__item
                a.works-list__img 
                    img(src="images/projects/5.png", alt="")

                .works-list__info
                    a.works-list__name Каркасный-КС-06/2

                    .works-list__square 161 м²

                .works-list__labels
                    .works-list__label 2 этажа
                    .works-list__label 6 комнат


            .works-list__item
                a.works-list__img 
                    img(src="images/projects/4.png", alt="")

                .works-list__info
                    a.works-list__name Каркасный-КС-06/2

                    .works-list__square 161 м²

                .works-list__labels
                    .works-list__label 2 этажа
                    .works-list__label 6 комнат


            .works-list__item
                a.works-list__img 
                    img(src="images/projects/3.png", alt="")

                .works-list__info
                    a.works-list__name Каркасный-КС-06/2

                    .works-list__square 161 м²

                .works-list__labels
                    .works-list__label 2 этажа
                    .works-list__label 6 комнат


            .works-list__item
                a.works-list__img 
                    img(src="images/projects/2.png", alt="")

                .works-list__info
                    a.works-list__name Каркасный-КС-06/2

                    .works-list__square 161 м²

                .works-list__labels
                    .works-list__label 2 этажа
                    .works-list__label 6 комнат

            .works-list__item
                a.works-list__img 
                    img(src="images/projects/1.png", alt="")

                .works-list__info
                    a.works-list__name Каркасный-КС-06/2

                    .works-list__square 161 м²

                .works-list__labels
                    .works-list__label 2 этажа
                    .works-list__label 6 комнат


        a.show-more Показать ещё