.work-detail.wrapper
    .work-detail__main
        .work-detail__top.mob

            h1 Дом каркасаный КС-06/2

            p Представляем вашему вниманию линейку проектов «Название» - современные одноэтажные дома, выполненные в скандинавском стиле с комфортной планировкой для загородной жизни и отдыха. Проект одноэтажного дома «Название» симпатичный дом с эргономичной планировкой.Проект идеально подойдет для большой семьи. Варианты цвета фасада: «серый» и «карамель». 


        .work-detail__main-sliders
            .work-detail__main-slider.swiper 
                .swiper-wrapper
                    a.work-detail__main-slider-img.swiper-slide(data-fslightbox="gallery" href="images/projects/1.png")
                        img(src="images/projects/1.png", alt="")
                    a.work-detail__main-slider-img.swiper-slide(data-fslightbox="gallery" href="images/projects/2.png")
                        img(src="images/projects/2.png", alt="")
                    a.work-detail__main-slider-img.swiper-slide(data-fslightbox="gallery" href="images/projects/3.png")
                        img(src="images/projects/3.png", alt="")
                    a.work-detail__main-slider-img.swiper-slide(data-fslightbox="gallery" href="images/projects/4.png")
                        img(src="images/projects/4.png", alt="")
                    a.work-detail__main-slider-img.swiper-slide(data-fslightbox="gallery" href="images/projects/5.png")
                        img(src="images/projects/5.png", alt="")
                    a.work-detail__main-slider-img.swiper-slide(data-fslightbox="gallery" href="images/projects/6.png")
                        img(src="images/projects/6.png", alt="")

                .work-detail__arr-next.slider-block-arr
                    svg(width="8" height="15")
                        use(xlink:href="images/sprite.svg#arr-r2")
                .work-detail__arr-prev.slider-block-arr
                    svg(width="8" height="15")
                        use(xlink:href="images/sprite.svg#arr-l2")


            .work-detail__nav-slider.swiper 
                .swiper-wrapper
                    .work-detail__nav-slider-img.swiper-slide
                        img(src="images/projects/1.png", alt="")
                    .work-detail__nav-slider-img.swiper-slide
                        img(src="images/projects/2.png", alt="")
                    .work-detail__nav-slider-img.swiper-slide
                        img(src="images/projects/3.png", alt="")
                    .work-detail__nav-slider-img.swiper-slide
                        img(src="images/projects/4.png", alt="")
                    .work-detail__nav-slider-img.swiper-slide
                        img(src="images/projects/5.png", alt="")
                    .work-detail__nav-slider-img.swiper-slide
                        img(src="images/projects/6.png", alt="")



        .work-detail__desc
            .work-detail__top.desktop

                h1 Дом каркасаный КС-06/2

                p Представляем вашему вниманию линейку проектов «Название» - современные одноэтажные дома, выполненные в скандинавском стиле с комфортной планировкой для загородной жизни и отдыха. Проект одноэтажного дома «Название» симпатичный дом с эргономичной планировкой.Проект идеально подойдет для большой семьи. Варианты цвета фасада: «серый» и «карамель». 

            .work-detail__bottom
                .work-detail__info
                    .work-detail__info-title Характеристики проекта:

                    .work-detail__info-chars
                        .work-detail__info-col
                            .work-detail__info-row
                                .work-detail__info-name Площадь:
                                .work-detail__info-val 312 м²
                            .work-detail__info-row
                                .work-detail__info-name Габариты
                                .work-detail__info-val 20х15
                            .work-detail__info-row
                                .work-detail__info-name Комнат:
                                .work-detail__info-val 5
                            .work-detail__info-row
                                .work-detail__info-name С/У:
                                .work-detail__info-val 2

                        .work-detail__info-col
                            .work-detail__info-row
                                .work-detail__info-name Этажи:
                                .work-detail__info-val 2 
                            .work-detail__info-row
                                .work-detail__info-name Мансардный этаж:
                                .work-detail__info-val нет  
                            .work-detail__info-row
                                .work-detail__info-name Цокольный
                                .work-detail__info-val нет  
                            .work-detail__info-row
                                .work-detail__info-name Гараж:
                                .work-detail__info-val нет

                .work-detail__info-btns
                    .work-detail__info-btn.btn.btn__red Хочу такой же
                    .work-detail__info-btn.btn Заказать звонок